/* General CSS */

a {
    text-decoration: none;
    color: #333333;
} 

/* Background pattern from Toptal Subtle Patterns */
body {
    background-image: url(./img/triangle-mosaic.png);
}

.topNavbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    align-items: flex-end;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
    background-color: rgba(239, 233, 244, 0.2)
    ;
}

.navButtons {
    display: flex;
    width: 600px;
    justify-content: space-between;
    font-size: 25px;
}

/* .linkHighlight {
    text-align: center;
    width: 80px;
} */

/* .homeButton a {
    color: #040f16;
    border: 1px solid #040f16;
    padding: 10px 13px;
} */

/* .homeButton a:active {
    border-bottom: 8px solid #5762d5;
    color: #edf7f6;
    padding-bottom: 12px;
} */

.portfolioButton > a {
    color: #040f16;
}

.aboutMeButton > a {
    color: #040f16;
}

.contactMeButton > a {
    color: #040f16;
}

.generalDescriptionMe {
    display: flex;
    padding: 50px 500px;
    justify-content: center;
    border: 1px solid lightgray;
    font-size: 23px;
    color: #040f16;
    /* background-color: #76818e; */
}

.generalBody {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f3f9e3;
    padding: 300px 30px;
}